$brand: #a80003;
$brand-light: #ff3336;

$white: #fff;
$almost-white: #ccc;
$barely-white: #aaa;
$light-grey: #778592;
$lighter-grey: #a4adb6;
$grey: #45484a;
$dark-grey: #2c2e2f;

$dimmer: rgba(0,0,0,.44);
$dark-blue-dimmer: rgba(26,36,47,.67);

