.hero.fullscreen.image {
  @include mobile {
    height: 100%;
  }

  @include tablet {
    height: 80%;
  }

  div {
    text-align: center;
  }

  .content {
    @include mobile {
      padding-top: 6rem;
    }

    @include tablet {
      padding-top: 4rem;
    }
  }

  .header {
    color: $white;
    line-height: 1.4;

    @include mobile {
      font-size: 2.5em;
    }

    @include tablet {
      font-size: 3em;
    }

    @include computer {
      font-size: 4em;
    }
  }

  .subheader {
    @include mobile {
      margin-bottom: .3em;
    }

    @include tablet {
      margin-bottom: .5em;
    }
  }

  .ui.stackable.grid .column {
    @include mobile {
      padding: 0.7rem!important;
    }
  }

  .background {
    &:before {
      background: $dark-blue-dimmer;
    }
  }
}

// .hero::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 120%;
//   z-index: -1;
//   transform-origin: 0 100%;
//   transform: rotate(-4deg) translateZ(0);
//   background: linear-gradient(90deg, #161C6B 0%, #161C6B 100%);
// }

