#masthead {
  font-family: Open Sans,Helvetica Neue,Helvetica-Neue,helvetica,sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  transition: background 0.2s ease-in-out;
  border-bottom: 1px solid rgba(255,255,255,0.3);

  &.open {
    @include mobile {
      background: $dark-grey;
      border-bottom: none;

      .collapsible.item {
        display: block;
        border-top: 1px solid $grey;
      }
    }
  }

  &:not(.open) {
    @include mobile {
      .collapsible.item {
        display: none;
      }
    }

    &.scrolled {
      background-color: $white;
      border-bottom: 1px solid rgba(0,0,0,0.2);

      a, i {
        color: $dark-grey;
      }

      .logo .bg {
        fill: #a92801;
      }
    }
  }

  .column {
    text-align: center;
  }

  .logo {
    position: absolute;
    top: 2.3em;
    width: 2.5em;
    height: 2.5em;

    .bg {
      fill: none;
    }

    .fill {
      fill: $white;
    }

    .stroke {
      fill: none;
      stroke: $white;
      stroke-width: 18;
      stroke-miterlimit: 10;

      &.thin {
        stroke-width: 16;
        stroke-miterlimit: 10;
      }
    }
  }

  .ui.search {
    background: transparent;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: auto;
      display: inline-block;
    }
  }

  a {
    display: block;
    color: $white;
    border: none;
    padding: 1.8em 1.4em 1.4em 1.4em;
  }

  li {
    color: $white;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    i {
      color: $white;
    }
  }

  .item {
    @include tablet {
      display: inline-block;
    }

    &.collapsible:nth-of-type(3) {
      clear: both;
    }
  }

  .brand {
    @include mobile {
      float: left;
    }

    @include tablet {
      float: none;
      margin-right: 2.2em;
    }
  }

  .mobile.only.nav {
    float: right;

    @include mobile {
      display: block;
    }

    @include tablet {
      display: none;
    }
  }
}

