<footer role="contentinfo">
  <div class="ui stackable four column centered page grid">
    <div class="column">
      Left
    </div>
    <div class="column">
      One
    </div>
    <div class="column">
      Two
    </div>
    <div class="column">
      Three
    </div>
  </div>
</footer>


