<footer id="footer" role="contentinfo">
  <div class="ui stackable four column centered page grid">
    <div class="seven wide utau column">
      {{> "logo"}}
      <div class="content">
        <p>
          University of Toronto Asians' Union is on a mission to bridge the gap between Asian groups in U of T.
        </p>
        <p>
          Check out our <a href="#">unified calendar</a>, <a href="http://discuss.utau.ca">discussion board</a>, and <a href="tag/summit-recap">monthly summit recaps</a> to see what's the next biggest collabrative effort in the Asian community.
        </p>
        <p class="contact us">
          Are you interested in collaborating? We'd love to hear all about your ideas. Grab your phone or keyboard and reach out to say <a href="mailto:hello@utau.ca">hello@utau.ca</a>
        </p>
      </div>
    </div>
    <div class="three wide column">
      <div class="header">About</div>
      <nav class="content">
        <ul>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="three wide column">
      <div class="header">Partners</div>
      <nav class="content">
        <ul>
          <li><a href="#">Our Partners</a></li>
          <li><a href="#">Why should I be a partner?</a></li>
          <li><a href="#">How do I apply?</a></li>
        </ul>
      </nav>
    </div>
    <div class="three wide column">
      <div class="header">Sponsors</div>
      <nav class="content">
        <ul>
          <li><a href="#">Our Sponsors</a></li>
          <li><a href="#">Why should I be a sponsor?</a></li>
          <li><a href="#">How do I apply?</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>


