<header id="masthead" role="banner">
  <nav class="ui centered page grid" role="navigation">
    <div class="column">
      <ul>
        <li class="brand item">
          <a href="/">
            {{> "logo"}}
          </a>
        </li>
        <li class="mobile only nav item">
          <a href="#"><i class="content icon"></i></a>
        </li>
        <li class="collapsible stackable item">
          <a href="#">About</a>
        </li>
        <li class="collapsible stackable item">
          <a href="#">Partners</a>
        </li>
        <li class="collapsible stackable item">
          <a href="#">Sponsors</a>
        </li>
        <li class="collapsible stackable item">
          <a href="http://discuss.utau.ca">Discussion</a>
        </li>
        <li class="collapsible stackable item">
          <a href="rss"><i class="feed icon"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
