<header class="main" role="banner">
  <div class="container">
    <nav>
      <ul class="primary links">
        <li><a href="#">UTAU</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Sponsors</a></li>
      </ul>
    </div>
    </nav>
  </div>
</header>
