<div class="hero fullscreen image">
  <div class="background image" style="background-image: url('{{asset "images/hero.jpg"}}')"></div>

  <div class="content">
    <div class="ui centered page skinny grid">
      <div class="column">
        <div class="header">
          Hello! We are University of Toronto Asians' Union
        </div>
        <div class="subheader">
          Let's improve our community together.
        </div>
        <div class="ui two column stackable centered hero-buttons grid">
          <div class="column">
            <a class="column ui inverted basic button" href="help">
              How can we help?
            </a>
          </div>
          <div class="column">
            <a class="column ui primary button" href="#">
              Sign up for our Calendar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
