<div class="hero fullscreen image">
  <div class="background" style="background-image: url('{{asset "images/hero.jpg"}}')"></div>

  <div class="content">
    <div class="ui centered page skinny grid">
      <div class="column">
        <div class="header">
          Mauris vitae diam id libero consectetur accumsan.
        </div>
        <div class="subheader">
          Lorem ipsum dolsot.
        </div>
        <div class="ui two column stackable centered page grid">
          <div class="column">
            <div class="column ui fluid inverted basic button">
              Who are we?
            </div>
          </div>
          <div class="column">
            <div class="column ui fluid primary button">
              Sign-up for our Calendar
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
