<aside id="sidebar" class="ui sticky">
  <div class="ui fluid category blog search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search posts...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <div class="ui info message">
    <div class="header">
      Have you heard about our mailing list?
    </div>
    <p>
      Get the best news in your e-mail every day.
    </p>
  </div>
</aside>

