{{!< default}}

{{> "header"}}

{{> "hero"}}

<main class="ui doubling two column centered page grid">
  <div class="ten wide tablet column">
    <div class="ui stackable posts grid">
      {{> "loop"}}
    </div>
  </div>
  <div class="computer only six wide sidebar column">
    {{> "sidebar"}}
  </div>

  {{pagination}}
</main>

{{> "footer"}}

