{{!< default}}

{{> "header"}}

<div class="ui centered page help grid">
  <div class="twelve wide row">
    <div class="column">
      <h1>How can we help?</h1>
    </div>
  </div>
  <div class="twelve wide row">
    <div class="column">
      <form class="natural form" novalidate>
        <span class="text">I am a</span>
        <select>
          <option value="1" selected>student</option>
          <option value="2">student group</option>
          <option value="3">non-profit organization</option>
        </select>
        <span class="text">and I </span>
        <select>
          <option value="1" selected>want to know about</option>
          <option value="2">have an event idea</option>
          <option value="3">want to become a partner</option>
        </select>
        <div class="nl-overlay"></div>
      </form>
    </div>
  </div>
</div>
